.stories {
  min-height: 100vh;
  background: #f6f6ef;
  border: 2px solid #f6f6ef;
}
.stories h1 {
  font-size: 25px;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
.stories h2 {
  font-family: 'Roboto Slab', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
}
.stories p {
  color: #008678;
}
.stories .row.center {
  padding: 5vw;
}
.stories-img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stories .stories-img img {
  width: 100%;
}
.explore-button {
  margin: 10vh auto 5vh;
  color: white;
  border: none;
  padding: 15px 30px;
  background: #4fbfa5;
  border-radius: 5px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  width: 239px;
  height: 67px;
}
