.protection {
  min-height: 100vh;
  padding-top: 20vh;
}

.protection .protection-img {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.protection .desktop .protection-img img {
  height: 100vh;
}
.protection .protection-img img {
  height: 70vh;
  max-width: 100vw;
}
.protection .desktop {
  display: flex;
}
.protection .mobile {
  display: none;
}

.protection .protection-text p {
  padding-top: 3vh;
  font-size: 16px;
  font-weight: 500;
  font: Raleway;
  font-style: normal;
  line-height: 28.8px;
}
.protection .protection-text h1 {
  font-size: 48px;
  font-weight: 500;
  font-family: 'Roboto Slab', sans-serif;
  font-style: normal;
  line-height: 63px;
}

@media screen and (max-width: 540px) {
  .protection .desktop {
    display: none;
  }
  .protection .mobile {
    display: block;
  }
}
