.pre-feature.flexer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.pre-feature.flexer .feature-story {
  padding: 15px 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.feature-story img {
  width: 100%;
  margin-bottom: 40px;
  border-radius: 7px;
}

.feature-story:hover {
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.25);
}
.features-header {
  background-image: url('../../static/imgs/book-long.png');
  background-color: #008678;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 30vh;
}
.features-header > h2 {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 176.9%;
  text-transform: capitalize;
  color: #fcfcfc;
}

.features-box-left {
  position: static;
  margin-left: 40px;
  width: 345px;
  height: 355px;
  background: green;
  border-radius: 5px;
  padding-top: 8%;
  text-align: center;
}
.features-title {
  text-align: center;
  margin: 60px auto 0;
}
.features-box-right {
  padding-top: 8%;
  text-align: center;
  margin-left: 40px;
  width: 345px;
  height: 355px;
  background: green;
  border-radius: 5px;
}
.img-resize {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 500px) {
  .features-header {
    min-height: 60vh;
    margin-top: 10vh;
    padding-top: 5vh;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .features .pre-feature .medicine,
  .features .pre-feature .boot,
  .features .pre-feature .engineering {
    margin-top: 40px;
  }
  .pre-feature.flexer .feature-story {
    padding: 15px 20px;
    margin-top: 0;
    margin-bottom: 30px;
  }

  .feature-story img {
    width: 100%;
    border-radius: 7px;
    margin: 40px auto;
  }

  .features-title {
    text-align: center;
    margin: 60px auto 0;
  }

  .features-header .fashion-text h2 {
    font-size: 40px;
    color: #fcfcfc;
  }
}
