.how-it-works {
  min-height: 100vh;
  padding-top: 20vh;
}
.how-it-works .how-it-works-img.mobile {
  display: none;
}
.how-it-works .text {
  padding: 5vh 5vw;
}

.how-it-works .how-it-works-img {
  width: 100%;
}
.how-it-works .how-it-works-img img {
  width: 100%;
}
.how-it-works .how-it-works-img.desktop {
}
.how-it-works p {
  font: 5vw;
  margin: 5vh auto;
  font-weight: bold;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
@media screen and (max-width: 500px) {
  .how-it-works .how-it-works-img.mobile {
    display: block;
  }
  .how-it-works .desktop {
    display: none;
  }
  .gif {
    display: none;
  }
}
@media screen and (min-width: 501px) {
  .how-it-works {
    display: none;
  }
}
