.how-it-works {
  min-height: 100vh;
  padding-top: 20vh;
}
.how-it-works .how-it-works-img.mobile {
  display: none;
}

.how-it-works .how-it-works-img {
  width: 100%;
}
.how-it-works .how-it-works-img img {
  width: 100%;
}
.how-it-works .how-it-works-img.desktop {
}
.how-it-works p {
  font: 5vw;
  margin: 5vh auto;
  font-weight: bold;
}

@media screen and (max-width: 540px) {
  .how-it-works .how-it-works-img.mobile {
    display: block;
  }
  .how-it-works .desktop {
    display: none;
  }
}
