body {
  margin: 0;
  font-family: Raleway, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 40px;
}

a:hover {
  text-decoration: none;
}

.feature-bold-text {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
}
.feature-small-text {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  /* or 29px */
  color: #000000;
}
.pre-feature {
  padding-left: 7%;
  padding-right: 7%;
  padding-bottom: 7%;
}

.display-desktop {
  display: block;
}

.display-mobile {
  display: none;
}

@media screen and (max-width: 500px) {
  .display-desktop {
    display: none;
  }
  .display-mobile {
    display: block;
  }
}
