.engineering-header {
  background-image: url('../../static/imgs/blade-long.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 40vh;
}
.engineering .retail-service .support,
.engineering .retail-service .tap,
.engineering .retail-service .trace,
.engineering .retail-service .industry {
  display: block;
  margin: 0 auto;
}
.retail-service {
  padding-top: 10vh;
}
.retail-service > img {
  margin-left: 22%;
}
.retail-service > h2 {
  color: #000000;
  text-align: center;
}
.retail-service > p {
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 16px;
  line-height: 30.3px;
}
@media screen and (max-width: 500px) {
  .engineering-header {
    background-image: url('../../static/img/blade.svg');
    margin-top: 15vh;
    padding-top: 7vh;
  }
}
