.banner {
  min-height: 100vh;
  background: url('../../static//img/background.svg') no-repeat center center;
  background-size: cover;
}
.banner .banner-text {
  color: white;
  margin-top: 15vh;
}

.banner img.arrow {
  position: absolute;
  top: 65%;
  left: 37%;
  z-index: 10;
}

.banner h1 {
  font-size: calc(4vh + 0.2rem);
  font-size: 45px;
  font-family: 'Roboto Slab', sans-serif;
  line-height: 48px;
}
.banner p {
  font-weight: bold;
  font-family: Raleway;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 35.44px;
}
.banner-img {
  height: 80vh;
  padding-left: 60px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 540px) {
  .banner h1 {
    font-size: 30px;
  }

  .banner img.arrow {
    display: none;
  }
  .banner .banner-text {
    color: white;
    text-align: center;
    margin-top: 0;
  }

  .banner-img {
    padding: 10vh 5vh;
    display: flex;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 760px) {
  .banner img.arrow {
    display: none;
  }
}
