.banner {
  padding-top: 25vh;
  min-height: 100vh;
  background: url('../../static//imgs/background.jpg') no-repeat center center;
  background-size: cover;
}
.banner .banner-text {
  color: white;
  margin-top: 15vh;
}

.banner img.arrow {
  position: absolute;
  top: 65%;
  left: 37%;
  z-index: 10;
}

.banner .banner-text h1 {
  font-size: 45px;
  font-family: 'Roboto Slab', sans-serif;
  line-height: 48px;
}
.banner p {
  font-weight: bold;
  font-family: Raleway;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 35.44px;
}
/* .banner-img {
  height: 80vh;
  padding-left: 60px;
  display: flex;
  align-items: center;
} */

.banner-img img {
  margin-top: 8vh;
  height: 400px;
  /* width: 235px; */
  max-height: 100vh;
}
.phone {
  position: relative;
  width: 235px;
  height: 411.48px;
  top: 204px;
}
@media screen and (max-width: 500px) {
  .banner {
    margin-top: 5vh;
    padding-top: 0;
    background: url('../../static//img/mobilebg.svg') no-repeat center center;
    background-size: cover;
  }

  .banner .banner-text h1 {
    font-size: 33px;
    font-family: 'Roboto Slab', sans-serif;
    line-height: 38px;
  }
  .banner p {
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    line-height: 35.44px;
  }

  .banner img.arrow {
    display: none;
  }
  .banner .banner-text {
    color: white;
    margin: 15vh 0;
    text-align: center;
  }

  .banner-img {
    padding: 10vh 8vh;
    display: flex;
    justify-content: flex-end;
  }
  .banner-img img {
    margin-top: 12vh;
    height: 240px;
  }
}

@media screen and (max-width: 760px) {
  .banner img.arrow {
    display: none;
  }
}
