.registration {
  min-height: 100vh;
  padding-top: 15vh;
  padding-bottom: 10vh;
  background: #008678;
  color: white;
}
.registration h1 {
  font-size: 40px;
}
.registration p {
  font: 16px;
  font-weight: bold;
}
.registration-img {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-top: 10vh;
}
.registration .registration-img img {
  max-width: 90%;
}
.registration-img .floating-img {
  position: absolute;
  z-index: 20;
  width: max-content;
  left: -5%;
  top: 50%;
}

@media screen and (max-width: 540px) {
  .registration-img {
    justify-content: center;
  }
  .registration-img .floating-img {
    transform: scale(1.1);
    top: 50%;
    left: 5%;
  }
}
