.registration {
  min-height: 100vh;
  padding-top: 15vh;
  padding-bottom: 10vh;
  background: #008678;
  color: white;
}
.registration h1 {
  font-family: "Roboto Slab", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 63px;
}
.registration p {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 188.5%;
}
.registration-img {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-top: -20vh;
}
.registration .registration-img img {
  max-width: 90%;
}
.registration-img .floating-img {
  position: absolute;
  z-index: 20;
  width: max-content;
  left: -5%;
  top: 50%;
}

@media screen and (max-width: 540px) {
  .registration-img {
    justify-content: center;
  }
  .registration-img .floating-img {
    transform: scale(1.1);
    top: 50%;
    left: 5%;
  }
}
