.registration {
  min-height: 100vh;
  padding-top: 15vh;
  padding-bottom: 150px;
  background: #008678;
  color: white;
}
.registration h1 {
  font-family: 'Roboto Slab', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 63px;
}
.registration p {
  position: relative;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30.3px;
}
.registration p::before {
  content: '';
  position: absolute;
  height: 3px;
  width: 7px;
  background-color: white;
  top: 65%;
  left: -40px;
}
.registration-img {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-top: -20vh;
}
.registration-img img {
  border-radius: 20px;
}
.registration .registration-img img.floating-img {
  position: absolute;
  left: -2%;
  top: 50%;
  max-width: 100%;
}

@media screen and (max-width: 500px) {
  .registration {
    padding-bottom: 75px;
  }
  .registration .registration-text {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
  .registration .registration-text h1 {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 47px;
  }
  .registration p::before {
    height: 2px;
    top: 60%;
    width: 5px;
    left: -15px;
  }
  .registration-img {
    justify-content: center;
    margin-top: 0;
    padding: 0 10vw;
  }
  .registration-img img {
    max-width: 100%;
  }
  .registration .registration-img img.floating-img {
    position: absolute;
    left: 5%;
    top: 70%;
    max-width: 100%;
  }
}

/* 

.registration {
  min-height: 100vh;
  padding-top: 15vh;
  padding-bottom: 25vh;
  background: #008678;
  color: white;
}
.registration h1 {
  font-family: 'Roboto Slab', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 63px;
}
.registration p {
  position: relative;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30.3px;
}
.registration p::before {
  content: '';
  position: absolute;
  height: 3px;
  width: 7px;
  background-color: white;
  top: 65%;
  left: -40px;
}
.registration-img {
  position: relative;
  display: flex;
  justify-content: flex-end;
 
}
.registration-img img {
  width: 100%;
  border-radius: 20px;
  height: 100%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}
.registration .registration-img img.floating-img {
  position: absolute;
  z-index: 20;
  width: max-content;
  left: -5%;
  top: 50%;
  max-width: 100%;
}

@media screen and (max-width: 500px) {
  .registration-img {
    justify-content: center;
    margin-top: 0;
  }
  .registration-img img {
    width: 100%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    max-width: 100%;
  }
  .registration .registration-img img.floating-img {
    top: 50%;
    left: 0;
  }
} */
